{% extends 'myadmin/adminHeader.html' %}
{% load static %}
{% block css_content  %}
<link rel="stylesheet" href="{% static '/myadmin/departmentlist.css' %}">
{% endblock  %}
{% block content %}

<!-- component -->
<section class="bg-sky-50 min-h-screen">
<div>
    <a href="create-department">
        <button class="bg-blue-500 text-white p-3 rouned-md">
            Add Department
        </button>
    </a>
</div>

{% if messages %}
    {% for message in messages %}
    <p class="text-green-500">{{message}}</p>
    {% endfor %}
{% endif %}
    
<section class="flex items-center justify-center">
	<div class="container">
		<table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
			<thead class="text-white">
				<tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
					<th class="p-3 text-center">Sl.No</th>
					<th class="p-3 text-center">Name</th>
					<th class="p-3 text-center">Created by</th>
                    <th class="p-3 text-center">Description</th>
					<th class="p-3 text-center" width="110px">Edit</th>
					<th class="p-3 text-center" width="110px">Delete</th>
				</tr>
			</thead>
			<tbody class="flex-1 sm:flex-none">
                
                {% for d in department %}   
				<tr class="flex flex-col flex-no wrap  text-center sm:table-row mb-2 sm:mb-0">
					<td class="border-grey-light border hover:bg-gray-100 p-3">1</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3">{{d.name}}</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{d.created_by}}</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{d.description}}</td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-amber-500 hover:text-amber-600 hover:font-medium cursor-pointer"><a href="{% url 'edit-department' d.id %}">Edit</a></td>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"><a href="{% url 'delete-department' d.id %}">Delete</a></td>
				</tr>
                {% endfor %}

			</tbody>
		</table>
	</div>
</section>
</section>


    
{% endblock content %}
    