{% extends 'myadmin/adminHeader.html' %}
{% load static %}
{% block css_content  %}
<link rel="stylesheet" href="{% static '/myadmin/departmentlist.css' %}">
{% endblock  %}

{% block content %}


<!-- component -->
<section class="bg-sky-50 min-h-screen flex flex-col px-20 pt-20" >
    <div>
        <a href="create-ticket">
            <button class="bg-blue-500 text-white p-3 rouned-md">
                Create Ticket
            </button>
        </a>
    </div>
    
    {% if messages %}
        {% for message in messages %}
        <p class="text-green-500">{{message}}</p>
        {% endfor %}
    {% endif %}
        
    <section class="flex items-center justify-center">
        <div class="container">
            <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
                <thead class="text-white">
                    <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th class="p-3 text-center">Ticket ID</th>
                        <th class="p-3 text-center">Subject</th>
                        <th class="p-3 text-center">Priority</th>
                        <th class="p-3 text-center">Created at</th>
                        <th class="p-3 text-center" width="110px">Delete</th>
                    </tr>
                </thead>
                <tbody class="flex-1 sm:flex-none">
                    
                    {% for d in data %}   
                    <tr class="flex flex-col flex-no wrap  text-center sm:table-row mb-2 sm:mb-0">
                        <td class="border-grey-light border hover:bg-gray-100 p-3">{{d.id}}</td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3">{{d.subject}}</td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{d.description}}</td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{d.created_at}}</td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"><a href="{% url 'delete-ticket' d.id %}" ><button type="button"  onclick="return confirm('Do you want to delete?')">Delete</button></a></td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
    </section>
    </section>
    
{% endblock content %}